---
layout: default
banner:
    background-image: /images/neutral-image.jpg
    heading: Catchy heading goes here
    subheading: This is a subheading
   
our-services:
    heading: Our services
    services:
        - image: /images/neutral-image.jpg
          heading: Duis Aute
          paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quia unde soluta doloremque! Eum saepe facere, quod voluptates dolorum ducimus hic quis neque, numquam aliquam temporibus cumque nostrum impedit.
        - image: /images/neutral-image.jpg
          heading: Duis Aute
          paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quia unde soluta doloremque! Eum saepe facere, quod voluptates dolorum ducimus hic quis neque, numquam aliquam temporibus cumque nostrum impedit.
        - image: /images/neutral-image.jpg
          heading: Duis Aute
          paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quia unde soluta doloremque! Eum saepe facere, quod voluptates dolorum ducimus hic quis neque, numquam aliquam temporibus cumque nostrum impedit.

page-banner: 
    image: /images/neutral-image.jpg
    heading: Who we are
    paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsum beatae ea? Facere, beatae ex. Corporis esse temporibus maxime cumque error fugiat aliquam modi repellat, animi molestiae, quos quae eligendi.
    button-text: Find out more

brand-names:
    brands:
        - name: brand name
        - name: brand name
        - name: brand name
        - name: brand name
        - name: brand name
        - name: brand name

gallery:
    heading: Duis Aute Irure
    paragraph: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos a, odio quod impedit corporis repellat facilis labore doloremque quisquam, saepe expedita quasi perferendis eum? Ipsa recusandae corrupti aliquam culpa ullam.
    gallery-images:
        - image: /images/neutral-image.jpg
        - image: /images/neutral-image.jpg
        - image: /images/neutral-image.jpg
        - image: /images/neutral-image.jpg
        - image: /images/neutral-image.jpg
        - image: /images/neutral-image.jpg
    button-text: Sign up

contact-form:
    image: /images/neutral-image.jpg

---
  
  
  
  
  <!--------------------------services------------------------>

  <section>
  <h2> {{page.our-services.heading}}</h2>

  <div class="grid md:grid-cols-3 gap-4 text-center">

{% for item in page.our-services.services %}
<div>

    <div class="aspect-square bg-slate-300 md:order-1" style="background-image:url('{{item.image}}');"> </div>
    <h3 class="md:order-2"> {{item.heading}}</h3>
    <p class="border-t p-4 md:order-3"> {{item.paragraph}}</p>
</div>

{% endfor %}

  </div>

  </section>
   <!--------------------------page banner - who we are (custom grid)------------------------>

   <section class="p-0">

    <div class="md:grid custom-grid md:min-h-[50vh] border-t " style="background-image: url('{{page.page-banner.image}}');">
    
    <div></div>
    <div class="bg-slate-200/50 md:bg-slate-200 flex items-center border-x ">
      <div class="m-5">
        <h2>{{page.page-banner.heading}}</h2>
        <p>{{page.page-banner.paragraph}}</p>
        <button class=" border border-solid  px-5">{{page.page-banner.button-text}}</button>
      </div>


    </div>
    <div></div>

    </div>

    <div class="grid grid-cols-2 md:grid-cols-6 text-xs text-center bg-black p-[1px] gap-[1px]">
    
{% for item in page.brand-names.brands %}
      <div class="bg-slate-200 p-3">{{item.name}}</div>
    

{% endfor %}
    </div>
   </section>


 <!--------------------------Gallery------------------------>
<section>
<div class="text-center max-w-2xl mx-auto">
 <h2>{{page.gallery.heading}}</h2>
 <p>{{page.gallery.paragraph}}</p>
</div>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">

{% for item in page.gallery.gallery-images %}

<div>
  <div class="aspect-square bg-slate-300 border " style="background-image: url('{{item.image}}');"> </div>
</div>
{% endfor %}

</div>

<div class="text-center pt-8">
<button class="px-5 border ">
  {{page.gallery.button-text}}
</button>
</div> 
  </section>


   <!--------------------------Contact Form------------------------>

<section class="p-0">
  <div class="md:grid custom-grid-2 min-h-[80vh] border ">

    <div class="border-r  bg-slate-300" style="background-image: url('{{page.contact-form.image}}');">
    </div>

    <div class="p-16">
      <h2>Contact Us</h2>
      <form>
        <input name="name" type="text" placeholder="name" class=" bg-inherit placeholder:text-inherit border-b  block w-full my-4">
        <input name="email" type="email" placeholder="email" class=" bg-inherit placeholder:text-inherit  border-b  block w-full my-4">
        <label for="message" class="w-full">message</label>
        <textarea class="w-full resize-none border  block bg-inherit" rows="10" id="message">
        </textarea>

        <div class="text-right my-4">
        <input type="submit" value="send" class="border px-5">
      </div>
      </form>
    </div>

</div>
</section>