 <!--------------------------Gallery------------------------>
 <section class="bg-orange-100">
    <div class="text-center max-w-2xl mx-auto">
     <h2>{{block.heading}}</h2>
     <p>{{block.paragraph}}</p>
    </div>
    
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    
    {% for item in block.gallery-images %}
    
    <div>
      <div class="aspect-square bg-orange-100 border bg-center bg-cover" style="background-image: url('{{item.image}}');"> </div>
    </div>
    {% endfor %}
    
    </div>
    
    <div class="text-center pt-8">
    <button class="px-5 border border-black">
      {{block.button-text}}
    </button>
    </div> 
      </section>